In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("predictions.csv").set_index("model").sort_index()
df

,Unnamed: 0,question,prediction,gold_answer
model,,,,
base_cot_prompting,30336,Henry and 3 of his friends order 7 pizzas for ...,Reasoning:\n- Total slices: 7 pizzas × 8 slice...,14
base_cot_prompting,29900,Kelly is grocery shopping at a supermarket and...,Reasoning:\n- Bacon cost: 5×10 = 50\n- Chicken...,5
base_cot_prompting,29899,"In 10 years, Melanie will be 18 years old. In ...",Reasoning:\n- Melanie's current age: 18 - 10 =...,16
base_cot_prompting,29898,Sarah has a rope that is 20 meters long. Her f...,Reasoning:\n- Profit from selling the rope: 20...,10
base_cot_prompting,29897,"At a spa, Iris spent $400 to do her hair, 1/4 ...",Reasoning:\n- Manicure cost: 1/4 of $400 = 0.2...,575
...,...,...,...,...
student_sctod_checkpoint_9,21540,Rory makes a cake that weighs 20 ounces. She c...,Reasoning:\n- Total cake weight: 20 ounces\n- ...,15
student_sctod_checkpoint_9,21539,Ray had 25 lollipops. He kept 5 lollipops and ...,Reasoning:\n- Total lollipops: 25\n- Kept: 5\n...,5
student_sctod_checkpoint_9,21538,The vending machines sell chips for 40 cents a...,Reasoning:\n- Total spent: $5\n- Remaining: 5 ...,5
student_sctod_checkpoint_9,21536,Prince Thaddeus slew 100 dragons with his migh...,Reasoning:\n- Prince Thaddeus: 100 dragons\n- ...,30
student_sctod_checkpoint_9,22421,"Farmer Brown has 20 animals on his farm, all e...","Reasoning:\n- Let C = number of chickens, C = ...",5

In [ ]:
df = (
    df.loc[
        [
            "base_cot_prompting",
            "base_label_only",
            "student_sctod_checkpoint_8",
            "student_label_only_checkpoint_4",
        ]
    ]
    .reset_index()
    .drop(columns="Unnamed: 0")
)

In [13]:
df

,model,question,prediction,gold_answer
0,base_cot_prompting,Henry and 3 of his friends order 7 pizzas for ...,Reasoning:\n- Total slices: 7 pizzas × 8 slice...,14
1,base_cot_prompting,Kelly is grocery shopping at a supermarket and...,Reasoning:\n- Bacon cost: 5×10 = 50\n- Chicken...,5
2,base_cot_prompting,"In 10 years, Melanie will be 18 years old. In ...",Reasoning:\n- Melanie's current age: 18 - 10 =...,16
3,base_cot_prompting,Sarah has a rope that is 20 meters long. Her f...,Reasoning:\n- Profit from selling the rope: 20...,10
4,base_cot_prompting,"At a spa, Iris spent $400 to do her hair, 1/4 ...",Reasoning:\n- Manicure cost: 1/4 of $400 = 0.2...,575
...,...,...,...,...
5271,student_label_only_checkpoint_4,Wayne and Bernadette are movie stars heading t...,Final Answer: 10,17
5272,student_label_only_checkpoint_4,Antoine's french onion soup recipe calls for 2...,Final Answer: 1,2
5273,student_label_only_checkpoint_4,"Sitti and Juris bought 34 and 22 oranges, resp...",Final Answer: 10,7
5274,student_label_only_checkpoint_4,Rory makes a cake that weighs 20 ounces. She c...,Final Answer: 12,15
5275,student_label_only_checkpoint_4,The vending machines sell chips for 40 cents a...,Final Answer: 4,5

In [14]:
df.to_csv("best_models_predictions.csv")