In [2]:
import pandas as pd

In [3]:
df = (
    pd.read_json("../artifacts/data/raw/dataset.jsonl", lines=True)
    .set_index(["question_id", "sample_id"])
    .sort_index()
)
df.head()

                                                                question  \
question_id sample_id
0           0          Natalia sold clips to 48 of her friends in Apr...
            1          Natalia sold clips to 48 of her friends in Apr...
            2          Natalia sold clips to 48 of her friends in Apr...
            3          Natalia sold clips to 48 of her friends in Apr...
            4          Natalia sold clips to 48 of her friends in Apr...

                                                        gold_answer_text  \
question_id sample_id
0           0          Natalia sold 48/2 = <<48/2=24>>24 clips in May...
            1          Natalia sold 48/2 = <<48/2=24>>24 clips in May...
            2          Natalia sold 48/2 = <<48/2=24>>24 clips in May...
            3          Natalia sold 48/2 = <<48/2=24>>24 clips in May...
            4          Natalia sold 48/2 = <<48/2=24>>24 clips in May...

                       gold_answer_number  \
question_id sample_id
0           0                          72
            1                          72
            2                          72
            3                          72
            4                          72

                                                     teacher_answer_text  \
question_id sample_id
0           0          Reasoning:\n- Clips sold in April: 48\n- Clips...
            1          Reasoning:\n- Clips sold in April: 48\n- Clips...
            2          Reasoning:\n- Clips sold in April: 48\n- Clips...
            3          Reasoning:\n- Clips sold in April: 48\n- Clips...
            4          Reasoning:\n- Clips sold in April: 48\n- Clips...

                       teacher_answer_number  is_correct finish_reason  \
question_id sample_id
0           0                           72.0        True          stop
            1                           72.0        True          stop
            2                           72.0        True          stop
            3                           72.0        True          stop
            4                           72.0        True          stop

                                                                   usage  \
question_id sample_id
0           0          {'prompt_tokens': 492, 'completion_tokens': 15...
            1          {'prompt_tokens': 492, 'completion_tokens': 12...
            2          {'prompt_tokens': 492, 'completion_tokens': 11...
            3          {'prompt_tokens': 492, 'completion_tokens': 12...
            4          {'prompt_tokens': 492, 'completion_tokens': 24...

                       latency_ms                                  model  \
question_id sample_id
0           0                4095  deepseek/deepseek-r1-distill-qwen-32b
            1                3334  deepseek/deepseek-r1-distill-qwen-32b
            2                3450  deepseek/deepseek-r1-distill-qwen-32b
            3                3292  deepseek/deepseek-r1-distill-qwen-32b
            4                5826  deepseek/deepseek-r1-distill-qwen-32b

                                                request_id
question_id sample_id
0           0          gen-1758388432-DfG37km2Lexm7CG9fckv
            1          gen-1758389073-JlSmJOageoYiDFolyjt0
            2          gen-1758389183-yiPtpMfRg9ujKVQWEEgj
            3          gen-1758389312-3AT01pb2c3chInGn0fYX
            4          gen-1758389425-OZorZUL4iltq3W6ZSMMy

In [4]:
len(df)

30000

In [5]:
df = df[df["is_correct"]]
len(df)

28124

In [6]:
df = df.drop_duplicates(subset=["teacher_answer_text"])
len(df)

25207

In [7]:
total_tokens = df["usage"].apply(lambda x: x["prompt_tokens"] + x["completion_tokens"])
total_tokens.quantile(0.99)

np.float64(1346.0)

In [8]:
df = df[total_tokens < total_tokens.quantile(0.99)]
len(df)

24952

In [ ]:
df.reset_index().to_json(
    "../artifacts/data/cleaned/dataset.jsonl", lines=True, orient="records"
)