In [4]:
import pandas as pd

In [5]:
df = (
    pd.read_json("../artifacts/data/raw/datasetN=30.jsonl", lines=True)
    .set_index(["question_id", "sample_id"])
    .sort_index()
)
df.head()

                                                                question  \
question_id sample_id
0           0          Natalia sold clips to 48 of her friends in Apr...
            1          Natalia sold clips to 48 of her friends in Apr...
            2          Natalia sold clips to 48 of her friends in Apr...
            3          Natalia sold clips to 48 of her friends in Apr...
            4          Natalia sold clips to 48 of her friends in Apr...

                                                        gold_answer_text  \
question_id sample_id
0           0          Natalia sold 48/2 = <<48/2=24>>24 clips in May...
            1          Natalia sold 48/2 = <<48/2=24>>24 clips in May...
            2          Natalia sold 48/2 = <<48/2=24>>24 clips in May...
            3          Natalia sold 48/2 = <<48/2=24>>24 clips in May...
            4          Natalia sold 48/2 = <<48/2=24>>24 clips in May...

                       gold_answer_number  \
question_id sample_id
0           0                          72
            1                          72
            2                          72
            3                          72
            4                          72

                                                     teacher_answer_text  \
question_id sample_id
0           0          Reasoning:\n- Clips sold in April: 48\n- Clips...
            1          - Clips in April: 48\n- Clips in May: 48 รท 2 =...
            2          Reasoning:\n- Clips sold in April: 48\n- Clips...
            3          Reasoning:\n- April sales: 48\n- May sales: 48...
            4          Reasoning:\n- Clips sold in April: 48\n- Clips...

                       teacher_answer_number  is_correct finish_reason  \
question_id sample_id
0           0                             72        True          stop
            1                             72        True          stop
            2                             72        True          stop
            3                             72        True          stop
            4                             72        True          stop

                                                                   usage  \
question_id sample_id
0           0          {'prompt_tokens': 492, 'completion_tokens': 11...
            1          {'prompt_tokens': 492, 'completion_tokens': 92...
            2          {'prompt_tokens': 492, 'completion_tokens': 14...
            3          {'prompt_tokens': 492, 'completion_tokens': 15...
            4          {'prompt_tokens': 492, 'completion_tokens': 14...

                       latency_ms                                  model  \
question_id sample_id
0           0                3842  deepseek/deepseek-r1-distill-qwen-32b
            1                3064  deepseek/deepseek-r1-distill-qwen-32b
            2                3401  deepseek/deepseek-r1-distill-qwen-32b
            3                3651  deepseek/deepseek-r1-distill-qwen-32b
            4                3535  deepseek/deepseek-r1-distill-qwen-32b

                                                request_id
question_id sample_id
0           0          gen-1758377575-oMv82kc9HfBY8pUPbFYs
            1          gen-1758377579-EqblKG6QXW2nK8zqjlZZ
            2          gen-1758377582-CUs4tuG1WgP5Pw8IRYmY
            3          gen-1758377586-akeYwooKqWXHaULQM0lK
            4          gen-1758377590-sAz1pvSg3wVeEYJ7J02i

In [6]:
len(df)

300

In [7]:
df = df[df["is_correct"]]
len(df)

292

In [8]:
df = df.drop_duplicates(subset=["teacher_answer_text"])
len(df)

247

In [ ]:
df.to_json("../artifacts/data/cleaned/dataset.jsonl", lines=True, orient="records")